extends layout

block content
  .inner

    h2 Top #{stores.length}
    table.table
      thead
        td ranking
        td photo
        td name

        td no. Comments
        td Average rating
      each store, i in stores
        pre=h.dump(store)
        tr
          td: h2 #{i + 1}
          td: a(href=`/store/${store.slug}`)
            img(width=200, src=`/uploads/${store.photo || store.png}` alt=store.name)
          td: a(href=`/store/${store.slug}`) #{store.name}
          td #{store.comments.length}
          td #{(store.averageRating).toFixed(1)} / 5