mixin type(type)
  .vegetable
    img.vegetable__artwork(src=`/uploads/types/${type.photo  || 'default-type.jpg'}`)
    .vegetable__details
      .vegetable__title
        h2= type.name
        .vegetable__vote
          if user
            .store__action.store__action--heart
              form.heart(method="POST" action=`/api/types/${type._id}/heart`)
                - const heartStrings = user.hearts.map(obj => obj.toString())
                - const heartClass = heartStrings.includes(type._id.toString()) ? 'heart__button--hearted' : ''
                button.heart__button(class=heartClass name="heart" type="submit")
                  != h.icon('heart')
      .vegetable__desc
        p= type.description
        if user
          a(href=`/store/${type.store}/add-type/${type._id}`)
            input.button(type="submit" value="Edit Vegetable Type")
      .vegetable__months
        .vegetable__months--sow 
          p= type.Sow
        .vegetable__months--harvest 
          p= type.Harvest

  