mixin typeForm(type = {})
  form(class="card" action=`/store/${type._id ||''}/add-type` method="POST" enctype="multipart/form-data")

    label(for="name") Name
    input(id="name" name="name" type="text" value=type.name)

    label(for="description") Description
    textarea(id="description" name="description")= type.description

    label(for="photo") Upload Image
      input(id="photo", name="photo", type="file", accept="image/gif, image/png, image/jpeg")
      if type.photo
        img(src=`/uploads/types/${type.photo}`, alt=type.name, width=200)

    label(for="sow") Sow
      - const choices = ['Jan', 'Feb', 'Mar' , 'Apr' , 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      - const sowing = type.sow || []
      ul.tags
        each choice in choices
          .tag.tag__choice
            input(id=choice name="sow" type="checkbox" value=choice checked=(sowing.includes(choice)))
            label(for=choice) #{choice}

      label(for="harvest") Harvest
      - const hchoices = ['Jan', 'Feb', 'Mar' , 'Apr' , 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      - const harvesting = type.harvest || []
      ul.tags
        each hchoice in hchoices
          .tag.tag__choice
            input(id=hchoice + "1" name="harvest" type="checkbox" value=hchoice checked=(harvesting.includes(hchoice)))
            label(for=hchoice + "1") #{hchoice}


    input(class="button" type="submit" value="Submit")